@model IEnumerable<Plus1.Models.Product>
@{
    ViewBag.Title = "Home Page";
}




<div class="top-brands">
    <div class="container">
        <h2>alle producten een rijtje</h2>
        <div class="grid_3 grid_5">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Producten</a></li>
                    <li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Aanbiedingen van vandaag</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
                        <div class="agile-tp">
                        </div>
                        <div class="agile_top_brands_grids">



                            <table class="table">



                                @if (true)
                                {


                                    int nmb = 0;

                                    foreach (var item in Model)
                                    {







<<<<<<< HEAD
                                        @*foreach (var product in item.Products)
                                        {
                                            @Html.DisplayFor(productItem => product.Title);

                                        }*@
=======
                                     
>>>>>>> 47131beeb83f444c75fae96c130a7e661cc1efca
                                        <div class="col-md-4 top_brand_left">
                                            <div class="hover14 column">
                                                <div class="agile_top_brand_left_grid">

                                                    <div class="agile_top_brand_left_grid1">
                                                        <figure>
                                                            <div class="snipcart-item block">
                                                                <div class="snipcart-thumb">
                                                                 
                                                                        <a href=/Products/Details/@Html.DisplayFor(modelItem => item.EAN) \"><img src="@Html.DisplayFor(modelItem => item.Image)" alt="" class="img-responsive" /></a>
                                                                        <p>  @Html.DisplayFor(modelItem => item.Title)</p>
                                                                        <p>Merk: @Html.DisplayFor(modelItem => item.Brand)</p>
                                                                        <h4>
                                                                            @Html.DisplayFor(modelItem => item.Price) <span>$99.00</span>
                                                                        </h4>
                                                             
                                                                </div>

                                                            </div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>





                                    }

                                }
                            </table>


                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
                            <div class="agile-tp">
                                <h5>This week</h5>
                                <p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p>
                            </div>
                            <div class="agile_top_brands_grids">


                                <!-- products-->
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>