@model Plus1.Models.IndexViewModel
@{
    ViewBag.Title = "Uw Plus1 Account.";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="container">
    <h2>@ViewBag.Title.</h2>

    <h4>Gegevens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Naam:</dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>Adres:</dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
            @Html.DisplayFor(model => model.Zipcode)
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>Wachtwoord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Wachtwoord veranderen", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>@Html.ActionLink("Mijn Bestellingen", "Orders", "Account")</dt>
    </dl>
</div>
