@model Plus1.Models.CartViewModel

@{
    ViewBag.Title = "Mijn Winkelwagen";
}
<!-- checkout -->
<div class="checkout">
    <div class="container">
        <h2>Uw Winkelwagen:</h2>
        <div class="checkout-right">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Aantal</th>
                        <th>Naam</th>

                        <th>Prijs</th>
                    </tr>
                </thead>
              
                @foreach (var item in Model.Items)
                {


                    <tr class="rem1">
                        <td class="RemoveC">
                            <form id="RemoveC" action="http://localhost:52447/Cart/Remove" method="get">
                                <input name="EAN" value="@Html.DisplayFor(modelItem => item.EAN)" type="hidden" />
                                <input type="submit" value="X" />
                            </form>
                        </td>
                        <td class="invert-image" style="width: 35%"><a href="single.html"><img src="@Html.DisplayFor(modelItem => item.Image)" alt=" " class="img-responsive" /></a></td>
                        <td class="invert">
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value-minus">&nbsp;</div>
                                    <div class="entry value"><span>1</span></div>
                                    <div class="entry value-plus active">&nbsp;</div>
                                </div>
                            </div>
                        </td>
                        <td class="invert">@Html.DisplayFor(modelItem => item.Title)</td>

                        <td class="invert">€ @Html.DisplayFor(modelItem => item.Price)</td>
                    </tr>


                }

                <!--quantity-->
                <script>
                    $('.value-plus').on('click', function () {
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
                        divUpd.text(newVal);
                    });

                    $('.value-minus').on('click', function () {
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
                        if (newVal >= 1) divUpd.text(newVal);
                    });
                </script>
                <!--quantity-->
            </table>
        </div>
        <!---728x90--->
        <script src='//publisher.eboundservices.com/dynamicAds/dynamicScript.js'></script>
        <div style='margin: 0 auto;text-align: center;margin-top: 5px;'>
            <script>
var allowedNumberOfEboundDynamicAdds = 4;
var sizesEboundDynamicAdsDesktop = ['728x90'];
var sizesEboundDynamicAdsTablet = ['728x90'];
var sizesEboundDynamicAdsMobile = ['320x100'];
eboundAdsTagByDevice(sizesEboundDynamicAdsDesktop,sizesEboundDynamicAdsTablet,sizesEboundDynamicAdsMobile, 'ebound_header_tag');

if(typeof user_tag_config == 'undefined'){
	var user_tag_config = {};
}
user_tag_config['ebound_header_tag'] = {};
user_tag_config['ebound_header_tag']['desktop'] = {};
user_tag_config['ebound_header_tag']['desktop']['cpm'] = '';
user_tag_config['ebound_header_tag']['desktop']['adsCode'] = '';
user_tag_config['ebound_header_tag']['tablet'] = {};
user_tag_config['ebound_header_tag']['tablet']['cpm'] = '';
user_tag_config['ebound_header_tag']['tablet']['adsCode'] = '';
user_tag_config['ebound_header_tag']['mobile'] = {};
user_tag_config['ebound_header_tag']['mobile']['cpm'] = '';
user_tag_config['ebound_header_tag']['mobile']['adsCode'] = '';
            </script>
        </div>
        <div class="checkout-left">
            <div class="checkout-left-basket">
                <h4>Totaal</h4>
                <ul>
                    @{decimal total = 0; }
                    @foreach (var item in Model.Items)
            {
                total = total + item.Price;
                <li>@item.Title<i>:</i> <span>€@item.Price </span></li>
    }
                    <li>Total <i>:</i> <span>€@total</span></li>
                </ul>
            </div>
            <div class="checkout-right-basket">
                <a href="http://localhost:52447/Products"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Verder Winkelen</a>
            </div>

            <div class="checkout-right-basket">
                <a href="http://localhost:52447/Order">Naar Afrekenen</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //checkout -->

