@model Plus1.Models.Product

@{
    ViewBag.Title = "Delete";
}
<div id="page-wrapper">
<br />
    <h3>Weet je zeker dat je dit wilt verwijderen?</h3>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Productnaam
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                Merk
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>

            <dt>
                Korte Omschrijving
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Shortdescription)
            </dd>

            <dt>
                Volledige Omschrijving
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullDescription)
            </dd>

            <dt>
                Afbeelding
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                Gewicht
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Weight)
            </dd>

            <dt>
                Prijs
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                Categorie
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                SubCategorie
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subcategory)
            </dd>

            <dt>
                SubSubCategorie
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubSubcategory)
            </dd>

            <dt>
                Tonen op Homepagina?
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Promotion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Verwijderen" class="btn btn-default" /> |
                @Html.ActionLink("Terug naar Productoverzicht", "Index")
            </div>
        }
    </div>
   </div>