@model IEnumerable<Plus1.Models.Product>

@{
    ViewBag.Title = "Index";
}
<div id="page-wrapper">

    <h2>Alle producten op een rijtje</h2>

    <p>
        @Html.ActionLink("Maak nieuw product aan", "Create")
    </p>


    <div class="w3l_search input-group custom-search-form" style="width:90%">
        <form action="/Admin/AdminProducts/" method="post">
            <input type="search" name="SearchString" id="SearchString" class="form-control" action="/" placeholder="Zoek Producten..." style="float:left">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default search" aria-label="Left Align" style="float:left">
                    <i class="fa fa-search" aria-hidden="true"> </i>
                </button>
                </span>
                <div class="clearfix"></div>
        </form>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Promotion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Promotion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EAN }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EAN }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EAN })
                </td>
            </tr>
        }

    </table>
</div>