@model IEnumerable<Plus1.Models.Product>

@{
    ViewBag.Title = "Index";
}
<div id="page-wrapper">

    <h2 class="hhelp">Alle producten op een rijtje</h2>

    <p>
        @Html.ActionLink("Maak nieuw product aan", "Create")
    </p>


    <div class="w3l_search input-group custom-search-form" style="width:90%">
        <form action="/Admin/AdminProducts/" method="post">
            <input type="search" name="SearchString" id="SearchString" class="form-control" action="/" placeholder="Zoek Producten..." style="float:left">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default search" aria-label="Left Align" style="float:left">
                    <i class="fa fa-search" aria-hidden="true"> </i>
                </button>
            </span>
            <p></p>
            <div class="clearfix"></div>
        </form>
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Een overzicht van alle producten.
                </div>
                @*      @Html.ActionLink("Product toevoegen", "Create") *@
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    Productnaam
                                </th>
                                <th>
                                    Merk
                                </th>
                                <th>
                                    Prijs
                                </th>

                                <th>
                                    Tonen op Homepagina?
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                item.Price = item.Price / 100;
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Brand)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Promotion)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Aanpassen", "Edit", new { id = item.EAN }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.EAN }) |
                                        @Html.ActionLink("Verwijderen", "Delete", new { id = item.EAN })
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
